/***** cover  *****/

.bg-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../img/background_10.jpg");
}

/***** News ****/

.bg-black {
    background-color: #000000 !important;
  }

